<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script type="module" src="./src/single-track.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container mx-auto">
        <article class="prose">
            <h1>{{ page.title }}</h1>
        </article>
    </div>
    <div id="wavesurfer" class="w-screen">
        <audio src="{{ page.media }}"></audio>
    </div>
    <div class="container mx-auto">
        <article class="prose">

{{content}}

        </article>
    </div>
</body>
</html>
