<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://kit.fontawesome.com/ef69927139.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/waveform-playlist@4.3.3/styles/playlist.css">
    <style>
      :root {
          --wp-channel-progress-color: grey;
          --wp-selection-background-color: rgba(0, 0, 0, 0.2);
      }
    </style>
</head>
<body>
<div class="container mx-auto pt-3">
    <article class="prose">
        <h1>{{ page.title }}</h1>
    </article>

    <div id="playlist"></div>
    <div>
        <div class="btn-group">
            <button type="button" class="btn-loop-play-pause btn btn-outline-primary shadow-none" title="Loop / Play / Pause">
                <i class="fas fa-play"></i><i class="fas fa-pause"></i>
            </button>
        </div>

        <div class="btn-group">
            <button
            type="button"
            title="Zoom in"
            class="btn-zoom-in btn btn-outline-dark shadow-none"
            >
            <i class="fas fa-search-plus"></i>
            </button>
            <button
            type="button"
            title="Zoom out"
            class="btn-zoom-out btn btn-outline-dark shadow-none"
            >
            <i class="fas fa-search-minus"></i>
            </button>
        </div>

        <div class="btn-group">
            <button class="btn" disabled>
                <i class="fas fa-volume-up"></i>
            </button>
            <input
                type="range"
                min="0"
                max="100"
                value="100"
                class="master-gain form-control mr-sm-2 shadow-none"
                id="master-gain"
            />
        </div>
    </div>
    
    <article class="prose pt-10">
        
        {{content}}

    </article>
</div>

<script src="https://unpkg.com/waveform-playlist@4.3.3/build/waveform-playlist.var.min.js"></script>
<script>

window.addEventListener('DOMContentLoaded', (event) => {
  // Add links to loops
  let re = /^.*#([0-9]*[.]?[0-9]*),([0-9]*[.]?[0-9]*)$/;
  let sub = "javascript:loop($1, $2)";
  document.querySelectorAll("a").forEach(a => {
    if (re.test(a.href)) {
      a.setAttribute("href", a.href.replace(re, sub));
    }
  });

});

var playlist = WaveformPlaylist.init({
  container: document.getElementById("playlist"),
  state: "select",
  timescale: true,
  isAutomaticScroll: true,
  zoomLevels: [256, 512, 1024, 2048, 4096, 8192],
  seekStyle: "fill"
});

playlist.load([
  {
    src: "{{ page.media }}",
  }
]).then(function() {
    $container.on("click", ".btn-loop-play-pause", function() {
        if (isPlaying) {
            ee.emit("pause");
        } else {
            if (startTime < endTime) {
                isLooping = true;
                playoutPromises = playlist.play(startTime, endTime);
            }
            else {
                isLooping = false;
                ee.emit("play");
            }
        }
        isPlaying = !isPlaying;
    });

    ee.on("select", function (start, end) {
        if (isPlaying && isLooping && start === end) {
            setTimeout(function() {
                ee.emit("rewind");
                ee.emit("play", start);
            }, 50);
        }
        startTime = start;
        endTime = end;
        isLooping = (start < end);
    });
});

/*
 * This script is provided to give an example how the playlist can be controlled using the event emitter.
 * This enables projects to create/control the useability of the project.
*/
var ee = playlist.getEventEmitter();
var $container = $("body");

var startTime = 0;
var endTime = 0;
var isPlaying = false;
var isLooping = false;
var playoutPromises;

$container.on("click", ".btn-zoom-in", function() {
  ee.emit("zoomin");
});

$container.on("click", ".btn-zoom-out", function() {
  ee.emit("zoomout");
});

$container.on("input change", ".master-gain", function(e){
  ee.emit("mastervolumechange", e.target.value);
});

ee.on("finished", function () {
  if (isLooping) {
    playoutPromises.then(function() {
      playoutPromises = playlist.play(startTime, endTime);
    });
  }
});

window.loop = function (start, end) {
  if (isPlaying) {
    ee.emit("pause");
    setTimeout(function() {
      ee.emit("select", start, end);
      playoutPromises = playlist.play(start, end);
    }, 50);
  } else {
    ee.emit("select", start, end);
  }
}

</script>
</body>
</html>