<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script src="https://kit.fontawesome.com/ef69927139.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.timeline.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.regions.min.js"></script>
</head>
<body class="p-4">
<div class="container mx-auto">
    <article class="prose">
        <h1>{{ page.title }}</h1>
    </article>

    <div id="wavesurfer" class="pt-4"></div>
    <div>
        <div class="btn-group pt-4">
            <button id="play-pause" type="button" class="btn btn-outline-primary shadow-none">
                <i class="fas fa-play"></i> <i class="fas fa-pause"></i>
            </button>
            <button id="remove-loop" type="button" class="btn btn-outline-primary shadow-none">
              <i class="fas fa-window-close"></i> <i class="fa fa-repeat"></i>
            </button>
        </div>
    </div>
    
    <article class="prose pt-10">
        
        {{content}}

    </article>
</div>

<script>

let waveform = document.createElement("div");
let timeline = document.createElement("div");
let wavesurfer = WaveSurfer.create({
  container: waveform,
  interact: true,
  responsive: true,
  plugins: [
    WaveSurfer.regions.create(),
    WaveSurfer.timeline.create({
        container: timeline
    })
  ]
});
let interact = true;

window.addEventListener('DOMContentLoaded', (event) => {

  // Load audio
  let container = document.querySelector("#wavesurfer");
  wavesurfer.load("{{ page.media }}");
  container.appendChild(waveform);
  container.appendChild(timeline);
  
  // Play / Pause
  document.querySelector("#play-pause").addEventListener("click", () => {
    wavesurfer.playPause();
  });

  // Remove loop
  document.querySelector("#remove-loop").addEventListener("click", () => {
    removeLoop();
  });

  
  // Links to add loops
  let re = /^.*#([0-9]*[.]?[0-9]*),([0-9]*[.]?[0-9]*)$/;
  let sub = "javascript:loop($1, $2)";
  document.querySelectorAll("a").forEach(a => {
    if (re.test(a.href)) {
      a.setAttribute("href", a.href.replace(re, sub));
    }
  });

});

let loop = function (start, end) {
  if (interact) {
    wavesurfer.toggleInteraction();
    interact = false;
  }
  wavesurfer.clearRegions();
  wavesurfer.addRegion({start, end}).playLoop();
}

let removeLoop = function () {
  if (!interact) {
    wavesurfer.toggleInteraction();
    interact = true;
  }
  wavesurfer.clearRegions();
}

</script>
</body>
</html>
